{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link href="https://fonts.googleapis.com/css2?family=Franklin+Gothic+Medium&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PF+Beau+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/client_card_style.css' %}">
</head>

<body>
<div id="mainDiv">
    <div id="main">
        <section id="infoWithImage">
            <img src="{% static 'img/profile_image.png' %}" alt="Профиль пользователя" id="profileImg">
            <section id="userInfo">
                <section id="account">
                    <img src="{% static 'img/wallet_img.png' %}" alt="Кошелек" id="walletImg">
                    <b id="kiberons">{{ user_kiberons }} К</b>
                </section>
                <p id="fullname">{{ user_crm_name }}</p>
                <b id="dob">{{ user_crm_birthday }}</b>
                <b id="location">{{ client.location_name }}</b>
            </section>
        </section>

        <a href="#" id="shopLink">Перейти в KIBERshop</a>

        <div id="warning">
            <p class="warningText">
                ПРЕДЗАКАЗ ЗАКРЫТ! ВАШИ ЗАКАЗЫ ВЫ МОЖЕТЕ ОТСЛЕДИТЬ ПЕРЕЙДЯ ПО КНОПКЕ ПРОФИЛЯ В ШАПКЕ
            </p>
        </div>

        <section id="extraInfo">
            <p>Тема следующего занятия:</p>
            <span id="subject">{{ lesson_name }}</span>
            <p>Обратная связь от тьютора:</p>
            <span id="resume">
                <div class="item" id="resumeInfo">{{ user_resume }}</div>
            </span>
        </section>

        <section id="feedback">
            <p id="message">Оставьте обратную связь по работе нашей КИБЕР-школы!</p>
            <form id="feedbackForm" onsubmit="event.preventDefault(); submitReview();">
                {% csrf_token %}
                <textarea placeholder="Введите ваш отзыв" id="feedbackInput" name="feedbackInput"></textarea>
                <button type="submit" id="sendButton">Отправить</button>
            </form>
        </section>
    </div>
</div>
</body>
<script>
    function submitReview() {
        alert("123")
    }
</script>
</html>