<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home_styles/main.css' %}">
</head>
<body>
    <header>
        <div class="header-left">
            <a href="{% url 'app_home:home' %}">Главная</a>
        </div>
        <div class="header-right">
            {% if user.is_authenticated %}
                <span>Привет, {{ user.username }}!</span>
                <a href="{% url 'app_users:logout' %}">Выйти</a>
            {% endif %}
        </div>
    </header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>